html
    head
        title Recommendation-Chrome
        link(rel='stylesheet', href='css/test.css')
    body
        .wrapper
            .container
                .msg-area
                    p.msg 申し訳ありません。アクセス頂いたサイトはInternet Explorerでは閲覧することが出来ません。
                    p.description 他のブラウザでアクセスいただくか、推奨ブラウザのChromeでの閲覧をお願いします。
                    a.btn(href="https://www.google.co.jp/chrome/") Chromeダウンロード